root: true

parserOptions:
  ecmaVersion: 2022
  sourceType: "module"

env:
  es2022: true
  browser: true
  jest: true
  node: true

globals:
  noUiSlider: readonly
  Pristine: readonly

extends:
  "htmlacademy/vanilla"

overrides:
  - files:
      - "*.test.js"
    env:
      jest: true
      node: true
